/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

label {
    color: rgb(255, 255, 255);
}

/* Estilos del header y del nav */
.container {
    display: flex;
    width: 80%;
    height: fit-content;
    margin-top: 2px;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: auto;
}

.column__container {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 19%;
    order: -1;
    padding: 2px;
    margin-left: 10px;
}

header {
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 10px;
    color: #ffffff;
    margin-left: auto;
    margin-right: 10px;
    height: fit-content;
    justify-content: right;
    align-items: right;
}

.header__title {
    display: flex;
    margin-right: auto;
    margin-top: 10px;
}

.header__title h1 {
    text-transform: uppercase;
}

.profile {
    display: flex;
    margin-left: 10px;
    text-align: left;
}

.profile__info {
    margin-right: 10px;
    margin-left: 10px;
    text-align: left;
}

.profile__link-session {
    color: #1db954;
    text-decoration: underline;
    font-size: 15px;
}

.profile__link-session:hover {
    color: #ffffff;
}

.profile__image {
    width: 70px;
    height: 70px;
    margin-right: 5px;
    border-radius: 50%;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: #000000;
    align-items: center;
    text-align: center;
}

.Menu {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Menu li {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid #1db954;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.Menu li:hover {
    background-color: #1db954;
    color: #000000;
}

.Menu li:hover a {
    color: #000000;
}

.Menu li a {
    width: 100%;
    color: #ffffff;
}

aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-top: 5px;
}

.song__section {
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.song__article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.song__image {
    width: 100%;
    height: 100%;
    border: 1px solid #1db954;
    border-radius: 3px;
    margin-bottom: 5px;
}

.song__description {
    font-size: 10px;
    font-weight: 400;
    color: #ffffff;
}

/* Estilos de las canciones */
.songs__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 30rem;
    padding: 10px;
    margin: auto;
    overflow-y: auto;
}

.songs__article {
    display: flex;
    width: 33%;
    padding: 5px;
    position: relative;
}

.songs__link {
    width: 100%;
}

.songs__image {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 1px solid #1db954;
    display: block;
}

/* Porcentajes, responsive, usar em, también con responsive */
.songs__star {
    width: 13%;
    left: 81%;
    top: 5%;
    position: absolute;
    cursor: pointer;
}

.songs__star:hover {
    opacity: 0.8;
}

/* Estilo del audio */
.audio__section {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 15px;
}

.audio__article {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 99%;
    background-color: #1db954;
    border-radius: 10px;
    padding: 15px 5px 15px 5px;
}

.audio {
    width: 98%;
}

/* Estilos del footer */
footer {
    display: block;
    width: 100%;
    height: max-content;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 75px;
    border: 2px solid #1db954;
    border-radius: 3px;
}

main {
    width: 100%;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: auto;
    margin: auto;
    margin-top: 27px;
    border-radius: 3px;
    height: fit-content;
}

.contenedor-canciones {
    display: grid;
    flex-wrap: wrap;
    grid-gap: 2px;
    grid-template-columns: 13% repeat(4, 22%);
    grid-template-rows: auto;
    width: 100%;
    height: 30rem;
    position: relative;
    border: 2px solid #1db954;
    overflow: auto;
    float: auto;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    overflow-y: auto;
    margin: auto;
    margin-right: auto;
    margin-left: 15px;
    justify-content: space-between;
}

.cld01 {
    background-color: ghostwhite;
    padding: 5px;
}

.cld02 {
    display: flex;
    background-color: #1db954;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: larger;
}

.cld03 {
    display: flex;
    background-color: #1db954;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: larger;
}

.cld04 {
    display: flex;
    background-color: #1db954;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: larger;
}

.cld05 {
    display: flex;
    background-color: #1db954;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: larger;
}

.cld06 {
    background-color: black;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cld07 {
    background-color: black;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cld08 {
    background-color: black;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cld09 {
    background-color: black;
    padding: 11px;
    font-weight: 800;
    font-size: larger;
    color: #ffffff;
}

.cld10 {
    background-color: black;
    padding: 11px;
    font-weight: 800;
    font-size: larger;
    color: #ffffff;
}

.cld11 {
    background-color: black;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cld12 {
    background-color: black;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cld13 {
    background-color: black;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cld14 {
    background-color: black;
    padding: 11px;
    font-weight: 800;
    font-size: larger;
    color: #ffffff;
}

.cld15 {
    background-color: black;
    padding: 11px;
    font-weight: 800;
    font-size: larger;
    color: #ffffff;
}

.cld16 {
    background-color: black;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cld17 {
    background-color: black;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cld18 {
    background-color: black;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cld19 {
    background-color: black;
    padding: 11px;
    font-weight: 800;
    font-size: larger;
    color: #ffffff;
}

.cld20 {
    background-color: black;
    padding: 11px;
    font-weight: 800;
    font-size: larger;
    color: #ffffff;
}

.cld21 {
    background-color: black;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cld22 {
    background-color: black;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cld23 {
    background-color: black;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cld24 {
    background-color: black;
    padding: 11px;
    font-weight: 800;
    font-size: larger;
    color: #ffffff;
}

.cld25 {
    background-color: black;
    padding: 11px;
    font-weight: 800;
    font-size: larger;
    color: #ffffff;
}

.cld26 {
    background-color: black;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cld27 {
    background-color: black;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cld28 {
    background-color: black;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cld29 {
    background-color: black;
    padding: 11px;
    font-weight: 800;
    font-size: larger;
    color: #ffffff;
}

.cld30 {
    background-color: black;
    padding: 11px;
    font-weight: 800;
    font-size: larger;
    color: #ffffff;
}

.cld31 {
    background-color: black;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cld32 {
    background-color: black;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cld33 {
    background-color: black;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cld34 {
    background-color: black;
    padding: 11px;
    font-weight: 800;
    font-size: larger;
    color: #ffffff;
}

.cld35 {
    background-color: black;
    padding: 11px;
    font-weight: 800;
    font-size: larger;
    color: #ffffff;
}

/* RESPONSIVE TABLET */
@media (max-width: 1000px) {
    /* HEADER */
    header .header__title h1 {
        display: flex;
        font-size: medium;
        width: 100%;
        margin-left: auto;
        margin-right: 10px;
        height: fit-content;
        justify-content: right;
        align-items: right;
        top: auto;
    }

    .profile img {
        width: 50px;
        height: 50px;
        margin-right: 5px;
        border-radius: 50%;
    }

    .profile__info {
        font-size: small;
    }

    .profile__link {
        width: 50px;
        height: 50px;
    }

    /* MAIN */

    main {
        width: 100%;
    }

    .container {
        font-size: 40px;
        display: flex;
        justify-content: right;
        align-items: right;
        width: 75%;
        margin: auto;
    }

    .column__container {
        width: 20%;
    }

    .contenedor-canciones {
        justify-content: right;
        align-items: right;
        width: 100%;
        font-size: small;
    }

    .cld06 img {
        width: 60px;
    }

    .cld11 img {
        width: 60px;
    }

    .cld16 img {
        width: 60px;
    }

    .cld21 img {
        width: 60px;
    }

    .cld26 img {
        width: 60px;
    }

    .cld31 img {
        width: 60px;
    }

    /* FOOTER IGUAL */
    footer {
        display: none;
    }
    /* NAV IGUAL */
}

/* RESPONSIVE MOBILE */
@media (max-width: 400px) {
    body {
        height: 100vh;
    }

    /* NAV Y HEADER */

    nav {
        display: none;
    }

    .Menu {
        display: none;
    }

    header {
        margin: 0;
    }

    /* MAIN */
    .column__container {
        display: none;
    }

    .container {
        width: 100%;
        height: 100vh;
        margin: 0;
    }

    main {
        padding: 0;
        width: 90%;
    }

    .contenedor-canciones {
        font-size: 7px;
        margin-left: 0;
    }

    .cld06 img {
        width: 35px;
    }

    .cld11 img {
        width: 35px;
    }

    .cld16 img {
        width: 35px;
    }

    .cld21 img {
        width: 35px;
    }

    .cld26 img {
        width: 35px;
    }

    .cld31 img {
        width: 35px;
    }

}