/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background-color: rgb(0, 0, 0);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.premium-main {
    display: block;
    position: relative;
    top: 120px;
}

label {
    color: rgb(255, 255, 255);
}

.container {
    display: flex;
    justify-content: center;
}

.Inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
    position: fixed;
    margin: 160px 0% 150px;
}

.Registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
    position: fixed;
    margin: 20px 0% 120px;
}

.Button--Registro {
    display: flexbox;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: white;
    margin: 110px 110px -160px;
}

.input--box {
    padding: 20px;
    width: 260px;
    margin: 10px;
    background-color: rgb(61, 60, 60);
    border: none;
    border-radius: 4px;
    caret-color: rgba(255, 217, 2, 0.959);
    /*cambia de color la linea */
    color: white;
}

.submit {
    padding: 6px;
    height: 40px;
    width: 300px;
    background-color: rgba(255, 217, 2, 0.959);
    border: none;
    border-radius: 10px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, serif;
    font-size: 18px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 88%;
    left: -2%;
    color: white;
    background-color: rgb(61, 60, 60);
    width: 102%;
    height: 12%;
}

.Perfil {
    display: flex;
    flex-direction: column;
    color: white;
    list-style: none;
    position: fixed;
    left: 85%;
    top: -20px;
}

.Logo {
    position: fixed;
    left: 96%;
    top: 7px;
}

.Cerrar-Sesion {
    color: white;
    position: fixed;
}

.Menu {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    position: fixed;
    list-style: none;
    width: 20%;
    height: 50%;
    margin: -4px 0% 0% -43px;
}

.Titulos--Principales {
    color: white;
    font-size: 250%;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 22%;
    top: -5px;
}

.Titulos--Principales__premium {
    left: 20px;
    top: 0px;
}

.Barra {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 3px;
    list-style: none;
    text-decoration: none;
    color: white;
    margin: 2px;
    padding: 40px;
    background-color: rgb(61, 60, 60);
}

.Barra:hover {
    background-color: rgba(255, 217, 2, 0.959);
}

.Canciones--Menu {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    width: 1400px;
    height: 550px;
    font-size: 100%;
    position: fixed;
    left: 440px;
    top: 100px;
}

.Canciones--Scroll {
    position: relative;
    top: 269px;
    width: 1370px;
}

.margen--imagenes {
    margin: 0% 5px 5px;
}

.Cancion--selecionada {
    display: flex;
    justify-content: first baseline;
    position: fixed;
    top: 440px;
    left: 90px;
}

.Cancion--descripcion {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 360px;
    color: white;
    font-size: 90%;
    position: fixed;
    top: 640px;
    left: 20px;
}

.Audio {
    display: block;
    position: fixed;
    width: 1400px;
    margin: 660px 0px 0px 440px;
    border-radius: -10%;
}

.favorito {
    flex-wrap: wrap;
    position: absolute;
    margin: 0px 215px 0px -60px;
    background-color: white;
    border-radius: 60%;
}

.favorito:hover {
    background-color: rgba(255, 217, 2, 0.959);
}

.premium-cards-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: max-content;
    height: max-content;
    margin: 0 auto;
    gap: 20px;
}

.premium-card {
    background-color: rgb(59, 59, 59);
    color: rgb(228, 228, 228);
    border: 2px solid rgba(211, 211, 211, 0.959);
    border-radius: 5px;
    padding: 20px;
    min-width: 200px;
    width: 300px;
    height: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    box-shadow: rgba(255, 255, 255, 0.274) 0px 0px 200px;
}

.premium-card__anual {
    background-color: rgb(235, 235, 235);
    color: rgb(36, 36, 36);
    border: 3px solid rgb(36, 36, 36);
}

.premium-card-heading-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
}

.premium-card-span {
    background-color: rgba(255, 187, 0, 0.377);
    padding: 4px;
    border-radius: 4px;
    color: rgb(102, 73, 0);
}

.premium-card-itemList {
    position: relative;
    top: -30px;
}

.premium-card-img-container {
    background-color: rgba(218, 190, 32, 0.623);
    padding: 5px;
    border-radius: 4px;
}

.premium-card-img-container__infinito {
    background-color: rgba(45, 138, 201, 0.623);
    padding: 5px;
    border-radius: 4px;
}

.premium-card-radio-button {
    width: 90%;
    height: 40px;
    margin: 0 auto;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    transition: 0.2s;
    cursor: pointer;
    align-self: flex-end;
}

.premium-card-button-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 75vw;
    margin: 0 auto;
    margin-top: 50px;
    gap: 50px;
}

.premium-card-button {
    width: 200px;
    height: 40px;
    margin: 0 auto;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    transition: 0.2s;
    cursor: pointer;
    align-self: flex-end;
}

.premium-card-button:hover {
    background-color: goldenrod;
    color: white;
}

.premium-card-button__cancelar:hover {
    background-color: rgb(134, 67, 67);
    color: white;
}

.premium-card-button__avanzar:hover {
    background-color: rgb(67, 134, 76);
    color: white;
}

.premium-card-price {
    font-size: 1.5rem;
}

.premium-card-discount {
    padding: 4px;
    border-radius: 4px;
    color: rgb(48, 170, 88);
    font-size: large;
}

.premium-card-itemList__item {
    margin-top: 10px;
}
