
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    margin: 2px;
}

input {
    outline: none;
}

label {
    color: rgb(255, 255, 255);
}



.container__Registro {
    margin: 373px;
}
.Button--Registro {
    
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    margin: 110px 117px -150px;
}
.input--box {
    
    padding: 20px;
    width: 300px;
    margin: 10px;
    background-color: rgb(61, 60, 60);
    border: none;
    border-radius: 4px;
    caret-color: #1DB954;
   
    color: white;
}

.submit {
    padding: 6px;
    height: 40px;
    width: 300px;
    background-color: #1DB954;
    border: none;
    border-radius: 10px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, serif;
    font-size: 18px;
    
}
header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #ffffff;
    margin-left: auto;
}

.profile {
    display: flex;
    margin-left: 85%;
}

.profile__info {
    margin-right: 10px;
    margin-left: 10px;
}


.profile__link-session {
    color: #1DB954;
    text-decoration: underline;
    font-size: 15px;
}

.profile__link-session:hover {
    color: #ffffff;
}

.profile__image {
    width: 70px;
    height: 70px;
    margin-right: 5px;
}
.conteiner--Perfil{

position: relative;

margin-left: 50px;



}
.conteiner--inputs{
    position: relative;


}
.botones{

   position: relative;

    margin-left: 30%;
    top: 550px; 


}
.user{
    position: relative;
    left: 5%;
    top: 15px;
    text-align: left;
    


}
.user_input{
    position: absolute;
    top: -15px;
    margin-left: 20%;
    

}
.pass{
    position: relative;
    left: 5%;
    top: 78px;
    text-align: left;

}
.pass_input{
   
    position: absolute;
    
    top: 70px;
    margin-left: 20%;

}
.r_pass{
position: absolute;
left: 5%;
top: 185px; 
}
.r_pass_input{
    position: absolute;
    
    top: 155px;
    margin-left: 20%;

}
.birthdate{
position: absolute;
left: 5%;
top: 268px;
}
.birthdate_input{
    position: absolute;
    
    top: 240px;
    margin-left: 20%;
}
.Email{
position: absolute;

left: 5%;
top: 353px;

}
.Email_input{
    position: absolute;
    
    top: 325px;
    margin-left: 20%;

}


.links{
    position: relative;
    top: 400px;
    left: 5%;
}



footer {
    width: 99%;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-weight: 400;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 2px solid #1DB954;
    border-radius: 3px;
    position: relative;
    bottom: -550px;
}

   
