/* Estilos generales */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    margin: 2px;
}

input {
    outline: none;
}

label {
    color: rgb(255, 255, 255);
}

/* Estilo de Inicio Sesion*/

.container__Registro {
    margin: 373px;
}

.link__opcionPremium {
    color: #ffffff;
    margin: 15px; 
}

.container__inicio{
    margin: 260px;
}

.Inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
    position: absolute;
    margin: 160px 0% 150px;
    top: 1px;
    
}

.Registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
    position: absolute;
    margin: 20px 0% 120px;
}

.Button--Registro {
    display: flexbox;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    margin: 110px 117px -150px;
}
.input--box {
    padding: 20px;
    width: 300px;
    margin: 10px;
    background-color: rgb(61, 60, 60);
    border: none;
    border-radius: 4px;
    caret-color: #1DB954;
    /*cambia de color la linea */
    color: white;
}

.submit {
    padding: 6px;
    height: 40px;
    width: 300px;
    background-color: #1DB954;
    border: none;
    border-radius: 10px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, serif;
    font-size: 18px;
}


/* Estilos del header y del nav */
.container {
    display: flex;
    height: 90px;
}

/* Estilos del header */
header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #ffffff;
    margin-left: auto;
}


.header__title {
    display: flex;
    margin-right: auto;
    margin-top: 10px;
}

.header__title h1 {
    text-transform: uppercase;
}

.profile {
    display: flex;
}

.profile__info {
    margin-right: 10px;
    margin-left: 10px;
}

.profile__link-session {
    color: #1DB954;
    text-decoration: underline;
    font-size: 15px;
}

.profile__link-session:hover {
    color: #ffffff;
}

.profile__image {
    width: 70px;
    height: 70px;
    margin-right: 5px;
}

/*Barra de Busqueda */
.search__bar {
    border-radius: 100px;
    width: 1100px;
    font-size: 30px;
    color: #ffffff;
    background-color:#000000;
    border: 1px solid #1DB954;
    caret-color: #1DB954;
    padding: 0px 50px;
    
}


.bi-search {
    position: absolute;
    top: 30px;
    left: 400px;
    font-size: 30px;
    color: #1DB954;
}
   


/* Estilos del nav */
nav {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 3px;

    background-color: #000000;
    align-items: center;
    text-align: center;
    order: -1;
}

.Barra {
    padding: 40px 120px;
}

.Menu {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Menu li {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid #1DB954;
    border-radius: 5px;
    padding-top: 40px;
    padding-bottom: 40px;
    cursor: pointer;

}

.Menu li:hover {
    background-color: #1DB954;
    color: #000000;
}

.Menu li:hover a{
    color: #000000;
}

.Menu li a {
    width: 100%;
    color: #ffffff;
}

/* Estilos del content container */
.content__container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Estilos del main */
main {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 27px;
}

/* Estilos de las canciones */
.songs__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: 99%;
    padding: 10px;
    overflow-y: scroll;
    height: 900px;
    margin-right: auto;
    margin-left: 15px;
}

.songs__article {
    width: 32%;
    margin-bottom: 15px;
    margin-right: 5px;
    position: relative;
}

.songs__image {
    width: 90%;
    height: 90%;
    border: 2px solid #1DB954;
    display: block;
}

 
.bi-star {
    color: #1DB954;
    position: absolute;
    top: 5px;
    right: 60px;
    font-size: 50px;
    cursor: pointer;
}


.bi-star:hover {
    color: rgb(29, 185, 84, 0.5)
}

/* Estilos de la canción sonando */
aside {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-left: 7px;
} 

.song__section {
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;  
    margin-bottom: 70px;
} 

.song__article {
    padding: 5px;
    width: 100%;
}

.song__image {
    width: 100%;
    height: 100%;
    border: 1px solid #1DB954;
    border-radius: 3px;
    margin-bottom: 5px;
}

.bi-star-fill{
    color: #1DB954;
    position: absolute;
    font-size: 50px;
    left: 300px;
    
}


.song__description {
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
}

/* Estilo del audio */
.audio__section {
    display: flex;
    width: 74.3%;
    margin-left: auto;
    margin-right: 78px;
    margin-bottom: 30px;
}

.audio__article {
    text-align: center;
    width: 100%;
    background-color: #1DB954;
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
    /* margin-left: auto; */
}

.audio {
    width: 100%;
    margin-top: 8px;
}

/* Estilos del footer */
footer {
    width: 99%;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-weight: 400;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 2px solid #1DB954;
    border-radius: 3px;
}