nav{
    padding: 20px;
    color: blue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    float: left;
}

.usuario{
    position: relative;
    left: 1100px;
}

.footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    padding: 20px;
}

.footer__p{
    text-align: center;
}

main{
    width: 100%;
    height: auto;
}

.contenedor{
    display: grid;
    grid-template-columns: 70px 100px 60px 70px 80px;
    grid-template-rows: 20px 100px 40px 60px 90px;
}

.cld01{
    background-color: yellow;

}

.cld02{
    background-color:brown;
}

.cld03{
    background-color: blue;
}

.cld04{
    background-color: blue;
}

.cld05{
    background-color: blue;
}

.cld06{
    background-color: blue;
}

.cld07{
    background-color: blue;
}

.cld08{
    background-color: green;
}

.cld09{
    background-color: blue;
}

.cld10{
    background-color: blue;
}

.cld11{
    background-color: blue;
}

.cld12{
    background-color: blue;
}

.cld13{
    background-color: blue;
}

.cld14{
    background-color: blue;
}

.cld15{
    background-color: blue;
}

.cld16{
    background-color: blue;
}

.cld17{
    background-color: blue;
}

.cld18{
    background-color: blue;
}

.cld19{
    background-color: violet;
}

.cld20{
    background-color: blue;
}

.cld21{
    background-color: blue;
}

.cld22{
    background-color: blue;
}

.cld23{
    background-color: blue;
}

.cld24{
    background-color: blue;
}

.cld25{
    background-color: blue;
}

body{
    margin: 0;
    margin-bottom: 40px;
}

html{
    min-height: 100%;
    position: relative;
}

header{
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav ul{
    list-style: none;
    overflow: hidden;
}

nav ul li{
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}