@media (max-width: 600px){
    .navegador .usuario .contenedor-canciones .footer{
        display: none;
        width: 100%;
        min-width: none;
    }

    .contenedor-canciones{
        max-width: none;
        width: 100%;
        margin: 0;
        padding: 20px 20px;
    }
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: black;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
    padding: 0;
    align-items: stretch;

    
}

html{
    min-height: 100%;
    position: relative;
}

header{
    width: 100%;
    position: fixed;
    z-index: 100;
}

.navegador{
    display: inline-block;
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    width: 60%;
    height: 5%;
}

.Barra{
    padding: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 60%;
    height: 5%;
}

nav ul{
    list-style: none;
    overflow: hidden;
    width: 60%;
    height: 5%;
}

nav li ul{
    display: none;
    position: absolute;
    top: 0px;
    left: 120px;
    width: 400px;
    margin: 10%;
}

nav li:hover ul{
    display: block;
}

li a:hover{
    color: #000;
    background-color: greenyellow;
}

li a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    width: 400px;
    height: 30px;
    border: 1px solid black;
    color:white;
    background-color: black;
}

li{
    list-style-type: none;
    position: relative;
    width: 120px;
}

.usuario{
    position: absolute;
    left: 1100px;
    display: flex;
    display: inline-block;
    justify-content: flex-end;
    color: greenyellow;

}

.Imagen-Usuario{
    border-radius: 100%;
}

.footer{
    background-color: gray;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1%;
    padding: 60px;
    text-align: center;

}

.footer__p{
    text-align: center;
    font-weight: 600;
}

.Audio{

}

main{
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    left: 10%;
    display: flex;
    padding: 20px;
}

.contenedor-canciones{
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 120px repeat(4, 190px);
    grid-template-rows: 50px;
    width: 100%;
    height: 100%;
    position: relative;
    left: 10%;
    border: 5px solid gray;
    overflow: auto;
    
    
}

.cld01{
    background-color: yellow;
    padding: 5px;
    
}

.cld02{
    display: flex;
    background-color:greenyellow;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: x-large;
}

.cld03{
    display: flex;
    background-color:greenyellow;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: x-large;
}

.cld04{
    display: flex;
    background-color:greenyellow;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: x-large;
}

.cld05{
    display: flex;
    background-color:greenyellow;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: x-large;
    
}

.cld06{
    background-color: black;
    padding: 5px;
}

.cld07{
    background-color:darkcyan;
    padding: 5px;
}

.cld08{
    background-color: darkcyan;
    padding: 5px;
}

.cld09{
    background-color: darkcyan;
    padding: 8px;
    font-weight: 800;
    font-size: x-large;
}

.cld10{
    background-color: darkcyan;
    padding: 8px;
    font-weight: 800;
    font-size: x-large;
}

.cld11{
    background-color:black;
    padding: 5px;
}

.cld12{
    background-color: darkcyan;
    padding: 5px;
}

.cld13{
    background-color: darkcyan;
    padding: 5px;
}

.cld14{
    background-color: darkcyan;
    padding: 8px;
    font-weight: 800;
    font-size: x-large;
}

.cld15{
    background-color: darkcyan;
    padding: 8px;
    font-weight: 800;
    font-size: x-large;
}

.cld16{
    background-color:black;
    padding: 5px;
}

.cld17{
    background-color: darkcyan;
    padding: 5px;
}

.cld18{
    background-color: darkcyan;
    padding: 5px;
}

.cld19{
    background-color: darkcyan;
    padding: 8px;
    font-weight: 800;
    font-size: x-large;
}

.cld20{
    background-color: darkcyan;
    padding: 8px;
    font-weight: 800;
    font-size: x-large;
}

.cld21{
    background-color:black;
    padding: 5px;
}

.cld22{
    background-color: darkcyan;
    padding: 5px;
}

.cld23{
    background-color: darkcyan;
    padding: 5px;
}

.cld24{
    background-color: darkcyan;
    padding: 8px;
    font-weight: 800;
    font-size: x-large;
}

.cld25{
    background-color: darkcyan;
    padding: 8px;
    font-weight: 800;
    font-size: x-large;
}

