<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <title>Spotilam</title>

</head>
<body>
    <header>
        <div class="logo-div">
            <img src="../assets/img/logo.png" alt="Logo" class="logo-img">
            <h1>Spotilam</h1>
        </div>
        <div class="user-div">
            <div class="user-info">
                <h2>Nombre usuario</h2>
                <a href="#">Cerrar sesión</a>
            </div>
            <img src="../assets/img/avatar.png" alt="Avatar" class="avatar-img">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="google.com">Home</a>
            </li>
            <li>
                <a href="">Buscar</a>
            </li>
            <li>
                <a href="">Mis albums</a>
            </li>
            <li>
                <a href="">Mis favoritas</a>
            </li>
        </ul>
    </nav>
    <main>
        <section>
            <article>
                <img src="" alt="">
            </article>
            <article>
                <img src="" alt="">
            </article>
            <article>
                <img src="" alt="">
            </article>
            <article>
                <img src="" alt="">
            </article>
            <article>
                <img src="" alt="">
            </article>
            <article>
                <img src="" alt="">
            </article>
            <article>
                <img src="" alt="">
            </article>
            <article>
                <img src="" alt="">
            </article>
            <article>
                <img src="" alt="">
            </article>
        </section>
        <div>
            <audio src=""></audio>
        </div>
    </main>
    <aside>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptatibus ducimus maiores accusantium perferendis, incidunt inventore totam repellat laudantium tempora, nesciunt qui blanditiis minus, quidem facere animi praesentium? Magnam, quidem!
            </p>
        </div>
    </aside>
    <footer>
        <div class="grid-div">
            <h5>Integrante 1 (Juan Ignacio, Ronquillo | 44.482.636)</h5>
            <h5>Integrante 2 (Angel, Leyes | 12.345.678)</h5>
            <h5>Integrante 3 ()</h5>
            <h5>Integrante 4 ()</h5>
            <h5>Integrante 5 ()</h5>
            <h5>Integrante 6 ()</h5>
        </div>
    </footer>
</body>
</html>