<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximumscale=1">
    <link rel="stylesheet" href="../css/estilos2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="img/Logo.png" type="image/x-icon">
    <title>Musica Sonando</title>
</head>

<body>

    <div class="container">
        <header>
            <div class="profile">
                <div class="profile__info">
                    <h3 class="profile__title">Nombre de usuario</h3>
                    <a href="IniciarSesion.html" class="profile__link-session">Cerrar sesión</a>
                </div>
                <a class="profile__link" href="perfil.html">
                    <img src="img/png-transparent-computer-icons-user-user-icon.png" alt="Avatar"
                        class="profile__image">
                </a>
            </div>
        </header>

        <main>
            <section class="contenedor-canciones">
                <div class="cld01"></div>
                <div class="cld02">Canción</div>
                <div class="cld03">Album</div>
                <div class="cld04">Duración</div>
                <div class="cld05">Reproducciones</div>
                <div class="cld06"><img src="img/boton play.png" alt="Reproducir" width="90px"></i></div>
                <div class="cld07"><img class="songs__image" src="img/canserbero cancion 1.jpg" alt="Canserbero - Na"
                        width="201vh"><img src="img/estrella.png" class="songs__star"></div>
                <div class="cld08"><img class="songs__image" src="img/canserbero album 1.jpg" alt="Vida"
                        width="201vh"><img src="img/estrella.png" class="songs__star"></div>
                <div class="cld09">6:22</div>
                <div class="cld10">17.135.570</div>
                <div class="cld11"><img src="img/boton play.png" alt="Reproducir" width="90px"></div>
                <div class="cld12"><img class="songs__image" src="img/salando las heridas cancion 2.jpg"
                        alt="Patricio Rey y sus redonditos de ricota - Salando las heridas" width="201vh"><img src="img/estrella.png" class="songs__star"></div>
                <div class="cld13"><img class="songs__image" src="img/patricio-rey-logo-3048C74D38-seeklogo.com.png"
                        alt="Los Redondos" width="201vh"><img src="img/estrella.png" class="songs__star"></div>
                <div class="cld14">5:02</div>
                <div class="cld15">4.063.894</div>
                <div class="cld16"><img src="img/boton play.png" alt="Reproducir" width="90px"></div>
                <div class="cld17"><img class="songs__image" src="img/ciro cancion 3.jpg" alt="Ciro - Sigue y No Cedas"
                        width="201vh"><img src="img/estrella.png" class="songs__star"></div>
                <div class="cld18"><img class="songs__image" src="img/ciro album 3.jpg" alt="Ciro - Sigue y No Cedas"
                        width="201vh"><img src="img/estrella.png" class="songs__star"></div>
                <div class="cld19">5:03</div>
                <div class="cld20">11.934.304</div>
                <div class="cld21"><img src="img/boton play.png" alt="Reproducir" width="90px"></div>
                <div class="cld22"><img class="songs__image" src="img/wos cancion 4.jpg" alt="Wos - Live Set"
                        width="201vh"><img src="img/estrella.png" class="songs__star"></div>
                <div class="cld23"><img class="songs__image" src="img/wos cancion 4.jpg" alt="Wos - Live Set"
                        width="201vh"><img src="img/estrella.png" class="songs__star"></div>
                <div class="cld24">11:00</div>
                <div class="cld25">34.581.113</div>
                <div class="cld26"><img src="img/boton play.png" alt="Reproducir" width="90px"></div>
                <div class="cld27"><img class="songs__image" src="img/tupac album 5.jpg" alt="Wos - Live Set"
                        width="201vh"><img src="img/estrella.png" class="songs__star"></div>
                <div class="cld28"><img class="songs__image" src="img/tupac album 5.jpg" alt="Wos - Live Set"
                        width="201vh"><img src="img/estrella.png" class="songs__star"></div>
                <div class="cld29">4:57</div>
                <div class="cld30">24.966.867</div>
                <div class="cld31"><img src="img/boton play.png" alt="Reproducir" width="90px"></div>
                <div class="cld32"><img class="songs__image" src="img/Idontwanttomissathing cancion 6.jpg"
                        alt="Wos - Live Set" width="201vh"><img src="img/estrella.png" class="songs__star"></div>
                <div class="cld33"><img class="songs__image" src="img/aerosmith album 6.jpeg" alt="Wos - Live Set"
                        width="201vh"><img src="img/estrella.png" class="songs__star"></div>
                <div class="cld34">4:52</div>
                <div class="cld35">580.794.918</div>
            </section>
        </main>
        <section class="audio__section">
            <article class="audio__article">
                <audio controls="audio" id="audio" preload="auto" tabindex="auto" type="audio/mpeg" muted="auto"
                    class="audio">
                </audio>
            </article>
        </section>
    </div>

    <div class="column__container">
        <nav>
            <ul class="Menu">
                <li>
                    <a class="Barra" href="index.html">Home</a>
                </li>

                <li>
                    <a class="Barra" href="Buscar.html">Buscar</a>
                </li>

                <li>
                    <a class="Barra" href="Misalbums.html">Mis albums</a>
                </li>

                <li>
                    <a class="Barra" href="cancionesfavs.html">Mis Favoritas</a>
                </li>
            </ul>
        </nav>

        <aside>
            <section class="song__section">
                <article class="song__article">
                    <img src="img/wos cancion 4.jpg" alt="Canción sonando" class="song__image">
                    <p class="song__description">
                        <b>
                            Grabado durante el verano de 2020/21 en la Patagonia argentina, lanzado en el canal oficial de WOS 
                            en YouTube.
                        </b>
                    </p>
                </article>
            </section>
        </aside>
    </div>


    <footer>
        <p>Octavio Sancho | 39.510.073 - Tobias Rodriguez | 44.513.673 - Angel Leyes| 42.199.664</p>
        <p>Ezequiel Lage | 38.175.930 - Agustin Dangelo | 44.263.625 - Juan Ignacio Ronquillo | 44.482.636</p>
    </footer>
</body>

</html>